/* Подключение шрифтов */
@import "fonts.css";
/* Подключение основных стилей */
@import "base.css";
/* Подключение стилей относящихся к header */
@import "header.css";
/* Подключение стилей относящихся к footer */
@import "footer.css";
/* Подключение стилей относящихся к main */
@import "main.css";
@import "buttons.css";
@import "cards.css";
@import "grid.css";
@import "hero.css";
@import "services.css";
@import "pricing.css";
@import "about.css";
@import "contact.css";
.auth-buttons {
    display: flex;
    gap: 10px; /* Промежуток между кнопками */
}

.btn {
    padding: 8px 12px; /* Уменьшенные отступы для компактности */
    font-size: 14px; /* Уменьшенный размер шрифта */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login {
    background-color: #007bff; /* Цвет для кнопки Вход */
    color: white;
}

.btn-primary {
    background-color: #28a745; /* Цвет для кнопки Регистрация */
    color: white;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.4); /* Черный фон с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
